// ==========================================================================
// Helpers
// ==========================================================================


// Placeholders


//Links

%navbar-links--desktop {
  color: $text-color--primary;
  font-weight: $font-weight--ultralight;
  display: inline;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  padding-right: 20px;
    &:hover {
      color: $text-color--hover;
  }
}

%navbar-links--mobile {
  @extend %navbar-links--desktop;
  padding: 0;
  font-size: em(26px);
  line-height: 1.75em;
  display: block;
}

//Text


%blog-title {
  color: $text-color--secondary;
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  font-style: italic;
  font-size: 1.1em;
  margin-bottom: 0;
  letter-spacing: .05em;
}

%blog-date {
  color: $text-color--primary;
  font-weight: $font-weight--ultralight;
  font-size: .8em;
}

%read-more {
  font-weight: $font-weight--medium;
  color: $text-color--primary;
  font-family: $font-family--primary;
  font-style: italic;
  text-decoration: none;
  &:hover {
    color: $text-color--hover;
  }
}

%caption {
  font-weight: $font-weight--ultralight;
  font-size: .9em;
  width: 75%;
  display: block;
  margin: 0 auto 10px auto;
}

%h1-styling {
  color: $text-color--secondary;
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  font-style: italic;
  font-size: 1.25em;
}
