
// Main Blog Posts

.blog-post {
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding-top: 80px;
  text-align: center;
}

.blog-post img {
  width: 90%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.blog-title {
  @extend %blog-title;

  @include media($desktop) {
    font-size: 25px;
  }
}

.date {
  @extend %blog-date;
}

.blog-post a {
  @extend %read-more;
}

figcaption {
  @extend %caption;
}

.gallery {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.gallery img {
  display: none;

    @include media($mobile) {
      display: block;
      @include span-columns(4);
    }
  }

//Side Column

.side-bar img{
    width: 90%;
  }

.side-bar h1 {
  @extend %h1-styling;
  margin-top: 35px;
}


.archives li {
  list-style: none;
  font-size: .8em;
  margin: 0;
}

hr.solid {
  width: 80%;
}

.about img {
  position: relative;
  border-radius: 50%;
  opacity: 0.5;
}

// .about p {
//   font-size: 40px;
//   background: none;
//   position: absolute;
//   top: 300px;
//   right: 150px;
//   font-family: $font-family--secondary;
//   color: $text-color--secondary;
//   font-weight: $font-weight--bold;
//   z-index: 9;
// }
