
//Main wrapper div

.wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  @include media($desktop) {
    @include outer-container;
      padding-top: 60px;
  }
}

//Side bar div

.side-bar {
  display: none;

  @include media($desktop) {
    @include span-columns(3);
    margin-top: 170px;
  }
}

// Blog posts div

.posts {
  @include media($desktop) {
    @include span-columns(9);
  }
}
